# Python distribution / packaging
build/
dist/
.eggs/
*.egg-info/
setup.py

# Jupyter
.ipynb_checkpoints/
*.ipynb

# my[py]
.mypy_cache/

# pytype
.pytype/

# Byte-compiled Python
*.pyc

# vim
*.orig
