[build-system]
requires = ['setuptools', 'poetry_core>=1.0']
build-backend = 'poetry.core.masonry.api'

[tool.poetry]
name = 'efax'
version = "1.11.0"
description = "Exponential families for JAX"
license = 'MIT'
authors = ['Neil Girdhar <mistersheik@gmail.com>']
readme = 'README.rst'
repository = 'https://github.com/NeilGirdhar/efax'
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Science/Research',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Topic :: Scientific/Engineering :: Artificial Intelligence',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Typing :: Typed',
    'License :: OSI Approved :: MIT License']

[tool.poetry.dependencies]
python = '>=3.8.1,<3.12'
jax = '>=0.3'
numpy = '>=1.22'
scipy = '^1.4'
tensorflow_probability = '>=0.15'
tjax = '>=0.23.0'

[tool.poetry.group.dev.dependencies]
flake8 = '>=3.9'
isort = '>=5.8'
jupyter = '>=1'
mypy = '>=1.0'
pylint = '>=2.12'
pyproject-flake8 = ">=6"
pyright = ">=0.0.13"
pytest = '^7'
pytest-xdist = {version = '>=3', extras = ['psutil']}

[tool.flake8]
max-line-length = 100
extend-ignore = "E741"
per-file-ignores = """
    __init__.py: F401, F403
"""

[tool.isort]
line_length = 100
multi_line_output = 0
skip_glob = ['.pytype/*.py']

[tool.pycodestyle]
max-line-length = 100
exclude = ['__init__.py', '__pycache__']

[tool.pylint.master]
jobs = 0
extension-pkg-whitelist = [
    'mypy.plugins.dataclasses']

[tool.pylint.messages_control]
disable = [
    'abstract-method',
    'arguments-differ',
    'duplicate-code',
    'invalid-name',
    'invalid-unary-operand-type',
    'missing-docstring',
    'no-member',
    'too-few-public-methods',
    'too-many-ancestors',
    'too-many-arguments',
    'too-many-branches',
    'too-many-instance-attributes',
    'too-many-locals',
    'too-many-return-statements',
    'too-many-statements',
    'unused-argument']
enable= [
    'useless-suppression',
    'use-symbolic-message-instead']

[tool.pylint.reports]
output-format = 'colorized'

[tool.pylint.similarities]
min-similarity-lines = 10
ignore-imports = 'yes'

[tool.pyright]
stubPath = ""
reportMissingSuperCall = true
reportUnnecessaryTypeIgnoreComment = true

[tool.mypy]
plugins = 'tjax.mypy_plugin'
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
# disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
no_implicit_optional = true
pretty = true
show_error_codes = true
show_error_context = true
strict_equality = true
warn_redundant_casts = true
# warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ['scipy', 'scipy.optimize', 'scipy.special', 'scipy.stats',
       'tensorflow_probability.substrates']
ignore_missing_imports = true
